SEED_PHRASE=""
NETWORK_MODE="test"
BASE_RPC_URL="https://sepolia.base.org"
PLASMA_RPC_URL="https://rpc.plasma.to"
USDC_ADDRESS="0x036CbD53842c5426634e7929541eC2318f3dCF7e"
USDT0_ADDRESS="0xB8CE59FC3717ada4C02eaDF9682A9e934F625ebb"
BASE_FACILITATOR_URL=""
PLASMA_FACILITATOR_URL=""
FREE_TRIAL_CALLS="10"
CDP_API_KEY_ID=""
CDP_API_KEY_SECRET=""
PORT="4023"
DB_PATH="./spanish-bureaucracy.db"
ANTHROPIC_API_KEY=""
SPANISH_PROMPT_PATH=""
